fastapi
uvicorn
python-dotenv
pymysql
DBUtils
openai
httpx
pystun3
pydantic
pydantic-settings
langchain-core
langchain-openai
langgraph
langgraph-checkpoint-postgres
langgraph-supervisor
langmem
mcp
httpx-sse
psycopg[binary]
